<h1>Hello From Demo</h1>

<h2>Working with loops</h2>

<h3>Questions</h3>


<% questions.forEach((question)=>{ %>

   <% if(question['user'].toLowerCase() === 'alec'){ %>

        <h2><%= question['title']%></h2>
        <p><%= question['user']%></p>
        <p><%= question['votes']%></p>
        
        <% } %>
    

<% }); %>